canvas {

    z-index: -1;
    position: absolute;
    
    top: 0;
    left: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


header {
    overflow-x: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

ul{
    margin-top: 0;
    float: right;
    list-style-type: none;

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;

}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
    color: rgb(219, 27, 27);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


.main{
    max-width: 1200px;
    margin: auto;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 1px 0 black;
}

.title h1 {
    color: #fff;
    font-size: 65px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    white-space: nowrap;
}


#title-typing {
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.title-typing h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
}


.intro-divider {
    margin: auto;
    width: 102%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
